// Colors
$first-color: #06283D;
$second-color: #256D85;
$third-color: #47B5FF;
$text-color: #DFF6FF;
$black: #202020;
$gray: #c7c7c7;

// Fonts sizes

$sm:1.3rem;
$md:1.6rem;
$lg:2.2rem;

// index.html

html{
    font-size: 62.5%;
}

body {
    background-color: $first-color;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}


// Header

.header{
    background-color: $second-color;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 4% auto;
    border:2px solid $black;
    border-radius: 2rem;
    height: fit-content;
    width: fit-content;

    
    
}

.navbar {
    margin-top: 1.0rem;
    color: $text-color;
    font-size: $md;
    display: flex;
    justify-content: space-around;
    gap: 60rem;
    align-items: center;
    margin: 1rem;

    &__left, &__right{

        &__list{
            
                display: flex;
                align-items: center; 
                gap: 2rem;
                list-style: none;
                margin: 0;

                &__element{
                    

                    a{
                        text-decoration: none;
                        font-weight: 800;
                        color: $text-color;
                    }

                    &__profilePic{
                        border-radius: 50%;
                        width: 5rem;
                        border: 3px solid $third-color;
                    }

                    &__sections{
                        padding: 1rem;
                        border-radius: 1rem;

                        &:hover{
                            color: #252525;
                            background-color: $gray;
                            border-bottom: 2px solid $black;    
                        }
                    }

                    &__socialMedia-pic{
                        width: 4rem;
                    }
                }
        }
    }
}

//Main  
.main{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    
    &__section__about-Me{
        background-color: $second-color;
        height: fit-content;
        width: fit-content;
        border:2px solid $black;
        border-radius: 2rem;
        display: flex;
        justify-content: space-around;
        padding: 1rem;

        &__avatar{
            img{
                width: 20rem;
                border-radius: 50%;
            }

            p{
                font-size: $lg;
                font-weight: 800;
                color: $first-color;
                text-transform: uppercase;
                margin: 0 1rem;
                background-color: $text-color;
                border-radius: 0.5rem;
                padding: 0.2rem;
            }
            
        }

        &__data{

            &__some-Info{

                &__description{
                    font-size: $md;
                    font-weight: 500;
                    padding: 0.5rem;

                    & p{
                        color: $text-color;
                        font-weight: 500;
                        font-size: $md;
                    }

                    & p:nth-child(1){
                        font-size: $lg;
                        font-weight: 700;
                        
                    }
                }

                &__techs{
                   
                    display: grid;
                    grid-template-columns: repeat(13, 1fr);
                    background-color: #06283D;
                    padding: 1rem;
                    border-radius: 10px;
                }
            }

            

        }
    }
    
}

