@forward '../style.scss';
@use '../vars/colors' as c;
@use '../vars/fonts' as fs;
@use '../vars/mqSizes' as mq;



.main{
    display: flex;
    width:70%;
    height: fit-content;
    margin: 0 auto;
    gap: 10rem;
    
    
    &__section__projects{
        background-color: c.$second-color;
        height: fit-content;
        width: 100%;
        border:2px solid c.$black;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;


    &__filters{

        display: flex;
        border-bottom: 1px solid c.$black;
        padding-bottom: 1rem;
        
        &__boxFilter{
            background-color:c.$third-color;
            border-radius: 35%;
            width: 4rem;
            display: flex;
            justify-content: center;
            

            &:hover{
                background-color: c.$first-color;
                cursor: pointer;
            }

            p{
                color: c.$text-color;
                font-size: fs.$sm;
            }
        }
    }

    &__containers{
        display: grid;
        grid-template-columns: repeat(3,1fr);

        @media (max-width: mq.$tablet){
            margin-top: 2rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: mq.$mobile){
            margin-top: 2rem;
            grid-template-columns: repeat(1, 1fr);
        }
        

        & a{
            text-decoration: none;
        }
        &__project{
            border: 1px solid c.$third-color;
            border-radius: 5%;
            background-color: c.$first-color;
            transition: transform 0.1s;
            padding: 1rem;
            margin: 1rem;
            
            &:hover{
                transform: scale(1.1);
            }


            &__img{
                img{
                    width: 100%;
                    border-radius: 5%;
                    
                }
            }

            &__synopsis{
                color: c.$text-color;
                padding: 1rem;
                font-size: fs.$sm;
                font-weight: 300;
                

                & p:nth-child(1){
                    font-weight: 500;
                    font-size: fs.$md;
                    
                }

                & p:nth-child(2){
                    font-size: fs.$sm;
                
                }
            }   
        }
    }
}

}

